body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  padding: 5px;
  font-family: "Oswald", sans-serif;
  background-color: #f0f0f0;
  border: 1px solid black;
}

p {
  padding: 5px;
  font-size: larger;
  font-family: "Syne Mono", sans-serif;
}

header h2 {
  margin-bottom: 48px;
}

header p {
  margin-bottom: 10px;
}

li {
  background-color: rgb(233, 136, 124);
  border-radius: 6px;
  margin: 32px;
  list-style: square;
}

ol {
  list-style: none;
}

a {
  background-color: rgb(167, 1, 78);
  color: white;
  border-radius: 4px;
  font-size: 24px;
  text-decoration: none;
}

a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: underline;
}

#todays-challenge {
  color: #044dde;
  font-weight: bold;
  font-size: 52px;
}

#step {
  color: #de048e;
}
