h1 {
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
  color: red;
  background-color: #f0f0f0;
  border: 1px solid black;
}

p {
  padding: 5px;
  font-size: larger;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: #044dde;
  font-weight: bold;
  font-size: 52px;
}

#step-one {
  color: #de048e;
}
